<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <div class="container-fluid">
        <div class="row d-flex">
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <li>
              Name: <%= user.name %>
              <span class="profile-link">
                <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
              </span>
            </li>
          </div>
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <% if !current_user.pending_friends.include?(user)%>
            <%=link_to 'friend request', friend_req_path(user)%>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</section>