<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <%= friend_check(@user) %>
    <%= friend_acc(@user) %>
  </div>
</section>
